<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <title>Michał Łukasik</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://kit.fontawesome.com/f8b616e1b5.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</head>

<body x-data="{ openMenu: window.innerWidth > 750}">
    <span id="scrolldown"><span x-show="$store.scroll.valueY < (window.innerHeight * 0.2) "
            x-transition.duration.300ms>scrolldown</span></span>
    <div class="menu-selector hover:xx" x-on:click="openMenu = !openMenu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="main-menu" x-show="openMenu" :class="$store.scroll.valueY ? 'scrolled' : ''">
        <div style="order: 1; flex-grow: 1;"></div>
        <template x-for="item in $store.pages.items">
            <div :style="'order: ' + ($store.pages.current == item.name ? 0 : 2)" x-transition
                x-on:click="item.toggle(item.name)">
                <span x-text="item.getLabel()"></span>
            </div>
        </template>
        <div style="order: 2; width: 10%"></div>
    </div>
    <div class="page" id="about_me" x-intersect.threshold.30="$store.pages.current = 'about_me'">
        <div class="page_body">
            <img src="images/main.svg">
            <div class="name">
                <div class="elevated-1">Łukasik</div>
                <div class="elevated-2 divider">Michał</div>
                <div class="elevated-3" style="padding-top: 1rem;">Software Developer</div>
            </div>
        </div>
    </div>
    <div class="page_divider"></div>
    <div class="page" style="display: flex;" id="projects" x-intersect.threshold.30="$store.pages.current = 'projects'">
        <div class="page_body">
            <div>
                <th:block th:each="fragment: ${fragments}">
                    <div class="project_view" x-data="{ selected: false}">
                        <div class="project_title elevated" x-on:click="selected = !selected">
                            <div th:utext="${fragment.metadata.name}">
                                PROJECT NAME
                            </div>
                            <div style="font-size: .75rem">
                                <span>created: </span>
                                <span th:utext="${fragment.metadata.createdAt}">
                                    2024-02-03
                                </span>
                            </div>
                        </div>
                        <div :class="'project_content ' + (selected ? 'selected' : 'unselected')">
                            <th:block th:utext="${fragment.asParagraph()}">
                                <p>To jest text <a href="random_url">test</a></p>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                                <div>texttexttext</div>
                            </th:block>
                        </div>
                        <div x-show="!selected" style="text-align: center; cursor: pointer;" x-on:click="selected = !selected">
                            <span>...</span>
                        </div>
                        <span style="flex-grow: 1;"></span>
                        <div class="links">
                            <a th:href="${fragment.metadata.url}"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    </div>
    <div class="page_divider"></div>
    <div class="page" id="contact" x-intersect.threshold.30="$store.pages.current = 'contact'">
        <div class="page_body">
            <a class="contact_link" href="mailto:michal.lukasik.contact@gmail.com">
                <div class="contact_icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="contact_label">Email</div>
                <div class="contact_value">michal.lukasik.contact@gmail.com</div>
            </a>
            <a class="contact_link" href="https://github.com/mllukasik/">
                <div class="contact_icon">
                    <i class="fa-brands fa-github"></i>
                </div>
                <div class="contact_label">GitHub</div>
                <div class="contact_value">mllukasik</div>
            </a>
            <a class="contact_link" href="https://www.linkedin.com/in/javamichallukasik/">
                <div class="contact_icon">
                    <i class="fa-brands fa-linkedin"></i>
                </div>
                <div class="contact_label">Linkedin</div>
                <div class="contact_value">javamichallukasik</div>
            </a>
        </div>
    </div>

    <div class="footer">
        <div>
            © 2024 Michał Łukasik
        </div>
        <div>
            <div class="elevated">
                Credits:
            </div>
            <a
                href="https://www.freepik.com/free-vector/rocket-planet-draw_4740032.htm#query=galaxy&position=21&from_view=search&track=sph&uuid=3c67af00-6708-46b4-bcf3-d13c7e942dd5">
                Main image by grmarc on Freepik
            </a>
        </div>
    </div>
</body>

</html>