@font-face {
    font-family: "app-font-family";
    src: url("fonts/GeistVariableVF.ttf");
}

html {
    font-size: 20px;
    color: #ffffff;
    font-family: app-font-family;
    font-weight: 200;
    scroll-behavior: smooth;
}

body {
    background-image: url("images/background.svg");
    background-size: 900px;
    background-color: #1e201e;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.menu-selector {
    height: 2rem;
    width: 2rem;
    text-align: center;
    border-radius: 25%;
    position: fixed;
    z-index: 10;
    right: 10px;
}

.menu-selector>i {
    line-height: 2rem;
}

.menu-selector:hover {
    color: #569955;
    cursor: pointer;
}

.main-menu {
    color: #569955;
    gap: 25px;
    width: 100%;
    height: calc(2rem + 6px);
    line-height: calc(2rem + 6px);
    justify-content: right;
    box-sizing: border-box;
    font-weight: 500;
    position: fixed;
    z-index: 5;
    display: flex;
    top: 0;
    padding: 0 10px;
}

.main-menu.scrolled {
    background-color: #000000dd;
    border-bottom: 1px solid #ffffff88;
}

.main-menu>div:hover {
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
}

.page {
    min-height: 96vh;
    padding: 2rem;

}

.page_body {
    height: 100%;
    width: 100%;
}

.elevated {
    color: #569955;
    font-weight: 400;
}

.elevated-1 {
    font-weight: 600;
    font-size: 5rem;
    text-transform: uppercase;
}

.elevated-2 {
    color: #569955;
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
}

.elevated-3 {
    font-weight: 400;
    font-size: 1.25rem;
}

#about_me {
    height: 96vh;
}

#about_me>.page_body {
    position: relative;
    box-sizing: border-box;

}

#about_me>.page_body>.name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw
}

#about_me>.page_body>.name>div {
    align-self: baseline;
}

#about_me>.page_body>.name>.divider {
    border-bottom: 1px solid #569955;
}

#about_me>.page_body>img {
    position: absolute;
    max-height: 85vh;
    max-width: 90%;
    right: 2vh;
    top: 7.5vh;
}

#scrolldown {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    transform-origin: right;
    transform: translateX(-100%) rotate(90deg);
}

#scrolldown>span {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #569955;
    border-bottom: 1px solid #569955;
    padding-right: 1rem;
}

.footer {
    border-top: dotted 2px #56995588;
    padding: 1rem;
    background: black;
    font-size: 0.7rem;
    font-weight: 100;
    gap: 50px;
    display: flex;
}


#projects>.page_body>div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.project_view {
    border-radius: 5px;
    box-shadow: #000000 5px 5px 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project_title {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_content.unselected {
    max-height: 200px;
    overflow: hidden;
}

.project_view>img {
    width: 90%;
    align-self: center;
}

.btn-a {
    padding: 5px 10px;
    background-color: #569955;
    color: black;
    font-weight: 400;
    display: inline-block;
}

.page_divider {
    border: dotted 1px #56995588;
    width: 90%;
    margin-left: 5%;
}

.project_view>.links {
    color: #569955;
    display: flex;
    gap: 15px;
    justify-content: right;
    padding: 5px;
    font-size: 1.5rem;
}

.links>i {
    cursor: pointer;
}

#contact {
    min-height: unset;
}

#contact>.page_body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    box-sizing: border-box;
}

.contact_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact_icon {
    width: 5rem;
    height: 5rem;
    background-color: #ffffff;
    color: #1e201e;
    font-size: 3rem;
    text-align: center;
    border-radius: 50%;
    box-shadow: #000000 5px 5px 50px;
}

.contact_icon>i {
    line-height: 5rem;
}

.contact_label {
    color: #569955;
    font-weight: 600;
}

.contact_value {
    font-style: italic;
}

div.project_view h1 {
    font-size: 1rem;
}

div.project_view a {
    color: #569955;
    font-weight: 400;
}

@media only screen and (max-width: 750px) {
    body {
        background-size: 500px;
    }

    #scrolldown {
        position: fixed;
        left: 2rem;
        bottom: 0vh;
    }

    .main-menu {
        background-color: #000000dd;
        flex-direction: column;
        height: 100vh;
        padding-top: 20vh;
        padding-bottom: 30vh;
        align-items: center;
    }

    #about_me>.page_body>img {
        display: none;
    }

    #projects {
        padding: 2rem 0;
    }

    #about_me>.page_body>.name {
        justify-content: unset;
        margin-top: 50%;
    }

    #contact>.page_body {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    #projects>.page_body>div {
        align-items: center;
        flex-direction: column;
    }

    .project_view {
        width: 80vw;

    }

    .elevated-1 {
        font-size: 3rem;
    }

    .elevated-2 {
        font-size: 2.5rem;
    }

    .elevated-3 {
        font-size: 1.25rem;
    }
}